"--extra-index-url https://download.pytorch.org/whl/cu118"
fastapi
uvicorn
pandas
sentence-transformers
tokenizers
pydantic
"torch"
torchvision
torchaudio

torch==2.2.0+cu121 --extra-index-url https://download.pytorch.org/whl/cu121